.cart-table {
    width: 50%;
    margin-top: 20px;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cart-table th {
    background-color: #f2f2f2;
}


.cart-table .cart-title{
    width: 35%;
    overflow: visible;
}
.cart-price-column{
    width: 2vw;
}

.cart-image-column{
    width: 10vw;
}

.cart-table .cart-item-image{
    width: 7vw;
    height: fit-content;
    align-items: center;
    object-fit: cover;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.summary-details {
    margin-bottom: 10px;
}

.subtotal, .total-quantity {
    font-weight: bold;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2vh;
}

.checkout-button:hover {
    background-color: #3498db;
}
