.slider {
  position: relative;
  margin-top: 3rem;
  width: 55vw;
  top: -4rem;
  left: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider img {
  height: 23vw;
  width: 60vw;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.left {
  left: 0vw;
}

.right {
  right: 0vw;
}